<section>
<a href="/viewpost/{{id}}">
        <h3>{{title}} </h3>
        <h4>Posted by {{user.username}} on {{format_date createdAt}}</h4>
        <div class="container">
            <p>{{body}}</p>
        </div>
</a>
</section>
